//COLORS

$blackColor: rgb(0, 0, 0);
$whiteColor: rgb(255, 255, 255);
$grayColor: rgb(120, 120, 120);

//FONTS

$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: "Times New Roman", Times, serif;
