@import "../../Variables/Variables.scss";

.containerContent {
  max-width: 1144px;
  min-width: 324px;
  min-height: 600px;
  height: auto;
  width: 100%;
  border: 1px solid $grayColor;
}
.titleBar {
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  border-bottom: 1px solid $grayColor;
  padding-left: 10px;
}

.content {
  min-height: 520px;
  padding: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.leftContent {
  width: 430px;
  display: flex;
  flex-direction: column;
}
.rightContent {
  width: 430px;
  display: flex;
  flex-direction: column;
}
